.button{
  height: 50px;
  width: 200px;
  margin-left: 45%;
  background-color: grey;
  border-radius: 50%;
  font-size: 22px;
  color: white;
}
.data{
  font-size: 25px;
}
body{
  background-color: aquamarine;
}